In [1]:
# move to project root
%cd ..
%pwd

/Users/heste/workspace/soccernet/sn-script

'/Users/heste/workspace/soccernet/sn-script'

In [3]:
import pandas as pd

player_csv_path = "database/misc/sncaption_players.csv"
players_df = pd.read_csv(player_csv_path)

In [4]:
# 471 games
players_df.groupby("game").size()

game
england_epl/2014-2015/2015-02-21 - 18-00 Chelsea 1 - 1 Burnley              36
england_epl/2014-2015/2015-02-21 - 18-00 Crystal Palace 1 - 2 Arsenal       36
england_epl/2014-2015/2015-02-21 - 18-00 Swansea 2 - 1 Manchester United    36
england_epl/2014-2015/2015-02-22 - 19-15 Southampton 0 - 2 Liverpool        36
england_epl/2014-2015/2015-04-11 - 19-30 Burnley 0 - 1 Arsenal              36
                                                                            ..
spain_laliga/2016-2017/2017-05-14 - 21-00 Las Palmas 1 - 4 Barcelona        36
spain_laliga/2016-2017/2017-05-14 - 21-00 Real Madrid 4 - 1 Sevilla         36
spain_laliga/2016-2017/2017-05-17 - 22-00 Celta Vigo 1 - 4 Real Madrid      36
spain_laliga/2016-2017/2017-05-21 - 21-00 Barcelona 4 - 2 Eibar             36
spain_laliga/2016-2017/2017-05-21 - 21-00 Malaga 0 - 2 Real Madrid          36
Length: 471, dtype: int64

In [5]:
# 名前被りを確認
duplicate_hashes = players_df.groupby("long_name")["hash"].unique()
duplicate_hashes = duplicate_hashes[duplicate_hashes.apply(len) > 1]

# 重複する名前と対応する一意のhashリストを表示
for name, hashes in duplicate_hashes.items():
    print(f"Player name: {name}, Unique hashes: {list(hashes)}")

Player name: Adama Traore, Unique hashes: ['Igxkp0vJ', 'Qsy3Kmgj']
Player name: Adrian, Unique hashes: ['nTxpOTze', 'CEm70uDg', 'xnksl1Xb']
Player name: Alvaro Gonzalez, Unique hashes: ['4ScdNNhe', 'SUOndFiR']
Player name: Bernardo, Unique hashes: ['4j2lRKqG', 'MwxzFrgA']
Player name: Bruno Henrique, Unique hashes: ['xQn53kv6', 'Es2sDoRF']
Player name: Carlos Carmona, Unique hashes: ['hv5DShRR', 'v1Ync0zm']
Player name: Danilo, Unique hashes: ['KUjvgUhB', 'jZymq44F', '2aAFmtDN']
Player name: David Garcia, Unique hashes: ['nTFvUo9N', 'h6OUyZ6b']
Player name: Eder, Unique hashes: ['Q3BCZbub', 'zscUlfQN']
Player name: Eduardo, Unique hashes: ['IeavP2fU', 'fVXVWRYt']
Player name: Fernando, Unique hashes: ['rJlzoALP', '6yhz9T74']
Player name: Gabriel, Unique hashes: ['29ORgAw5', 'vHBRBWUr']
Player name: Juan Rodriguez, Unique hashes: ['WEXKmmr4', 'pWspEUPF']
Player name: Juanfran, Unique hashes: ['jLwtE6Rq', 'ppSBkixR', 'Ye9cRhZ7']
Player name: Maicon, Unique hashes: ['2kr0nEaK', 'GxMRcf1E']
Player name: Manu Garcia, Unique hashes: ['4pQawjUd', 'hzhqN3QQ']
Player name: Marcelo, Unique hashes: ['zmAm2AEH', 'hfN9pT8t']
Player name: Naldo, Unique hashes: ['tUG5PT7s', 'hrrTRxpk']
Player name: Neto, Unique hashes: ['COZrpB1f', 'dbGArTGd']
Player name: Rafael, Unique hashes: ['OrM1uurD', 'K2lhc6jE']
Player name: Rafinha, Unique hashes: ['8jE1xUrf', 'pxvTBxot', 'UZT4VF22']
Player name: Raul Garcia, Unique hashes: ['hI95WTn0', 'KI3A2f8L']
Player name: Sergio Alvarez, Unique hashes: ['WANBOspq', 'dIHFGGH9']
Player name: Wanderson, Unique hashes: ['UegPSnSI', 'jPMxnqoU']

In [13]:
game = "england_epl/2016-2017/2016-09-24 - 14-30 Manchester United 4 - 1 Leicester"
team = "Leicester"
jersey_number = 11

player_row = players_df[
    (players_df["game"] == game) &
    (players_df["team"] == team) &
    (players_df["shirt_number"] == jersey_number)
]

print(player_row)

Empty DataFrame
Columns: [Unnamed: 0, game, team, side, date, round, score, hash, name, captain, detail_link, short_name, shirt_number, country, facts, lineup, starting, long_name]
Index: []

In [2]:
import pandas as pd

frame_data_path = "database/misc/players_in_frames.csv"

frame_data_df = pd.read_csv(frame_data_path)
frame_data_df.head(20)

,game,half,time,team,name,short_name,jersey_number,country,x1,y1,x2,y2
0,england_epl/2016-2017/2016-09-24 - 14-30 Manch...,1,231,Manchester United,Ibrahimovic Z.,Ibrahimovic,9,Sweden,748.35,774.49,248.61,328.65
1,england_epl/2016-2017/2016-09-24 - 14-30 Manch...,1,231,Manchester United,Pogba P.,Pogba,6,France,342.47,378.80,344.04,436.46
2,england_epl/2016-2017/2016-09-24 - 14-30 Manch...,1,231,Manchester United,Herrera A.,Herrera,21,Spain,208.08,257.07,516.36,626.29
3,england_epl/2016-2017/2016-09-24 - 14-30 Manch...,1,231,Leicester,Mahrez R.,Mahrez,26,Algeria,621.34,641.22,225.24,283.43
4,england_epl/2016-2017/2016-09-24 - 14-30 Manch...,1,231,Leicester,Simpson D.,Simpson,17,England,633.01,671.71,247.23,317.27
5,england_epl/2016-2017/2016-09-24 - 14-30 Manch...,1,231,Leicester,Morgan W.,Morgan,5,Jamaica,666.98,700.11,275.80,347.67
6,england_epl/2016-2017/2016-09-24 - 14-30 Manch...,1,231,Leicester,Slimani I.,Slimani,19,Algeria,309.12,337.50,327.13,401.96
7,england_epl/2016-2017/2016-09-24 - 14-30 Manch...,1,231,Leicester,Drinkwater D.,Drinkwater,4,England,706.39,741.11,338.13,418.01
8,england_epl/2016-2017/2016-09-24 - 14-30 Manch...,1,231,Leicester,Amartey D.,Amartey,13,Ghana,496.48,547.98,306.24,376.49
9,england_epl/2016-2017/2016-09-24 - 14-30 Manch...,1,231,Leicester,Huth R.,Huth,6,Germany,851.35,877.67,303.80,382.71
10,england_epl/2016-2017/2016-09-24 - 14-30 Manch...,1,231,Leicester,Vardy J.,Vardy,9,England,354.99,398.80,615.72,720.00
11,england_epl/2016-2017/2016-09-24 - 14-30 Manch...,1,297,Manchester United,Blind D.,Blind,17,Netherlands,295.55,329.52,212.11,256.71
12,england_epl/2016-2017/2016-09-24 - 14-30 Manch...,1,297,Manchester United,Lingard J.,Lingard,14,England,963.27,1012.43,243.26,297.20
13,england_epl/2016-2017/2016-09-24 - 14-30 Manch...,1,297,Manchester United,Pogba P.,Pogba,6,France,387.89,422.09,334.14,411.47
14,england_epl/2016-2017/2016-09-24 - 14-30 Manch...,1,297,Manchester United,Ibrahimovic Z.,Ibrahimovic,9,Sweden,593.30,632.29,295.20,363.28
15,england_epl/2016-2017/2016-09-24 - 14-30 Manch...,1,297,Manchester United,Mata J.,Mata,8,Spain,1153.07,1184.63,455.06,537.52
16,england_epl/2016-2017/2016-09-24 - 14-30 Manch...,1,297,Leicester,Amartey D.,Amartey,13,Ghana,684.04,716.62,340.68,417.81
17,england_epl/2016-2017/2016-09-24 - 14-30 Manch...,1,297,Leicester,Drinkwater D.,Drinkwater,4,England,841.72,877.20,253.67,315.17
18,england_epl/2016-2017/2016-09-24 - 14-30 Manch...,1,297,Leicester,Albrighton M.,Albrighton,11,England,898.04,938.13,559.40,655.73
19,england_epl/2016-2017/2016-09-24 - 14-30 Manch...,1,297,Leicester,Slimani I.,Slimani,19,Algeria,248.54,273.41,271.85,340.07